body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.logo{
    width: min-content;
    height: 10vh;
    display: flex;
    margin-left: auto;
    margin-right: auto;
}

.search-bar {
    display: flex;
    align-items: center;
    width: 100%;
    margin-left: 3%;
    margin-right: auto; 
}

.search-bar input {
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 90%;
}

.search-bar button {
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.search-bar button img {
    height: 5%;
    width: 1vw;
}

section[aria-labelledby="filters-title"] {
    
    padding: 2% 2%;
    background-color: #fff;
    display: flex;
    margin-left: 1%;
}

button {
    padding: 8px 12px;
    border: 0.5% solid #ccc;
    border-radius: 10%;
    cursor: pointer;
    background-color: #f4f4f4;
}

button:hover {
    background-color: #ddd;
}

main {
    padding: 2%;
    width: 90%;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    background-color: rgb(137, 213, 226);
    border-radius: 10%;
}

h2 {
    margin-bottom: 1%;
    color: #333;
}

article {
    background-color: #fff;
    padding: 1%;
    border-radius: 10%;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    display: inline-block;
    width: 30%;
    
}

article img {
    width: 100%;
    height: 100%;
    border-top-left-radius: 10%;
    border-top-right-radius: 10%;
    display: flex;
    margin-left: auto;
    margin-right: auto;
}

article h3 {
    margin: 15px 0 10px;
    color: #555;
}

article p {
    font-size: 16px;
    color: #888;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
}


